* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html { 
    background-color: #dac0bf;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
.right-side {
    display: none;
}

/*left side*/
.left-side {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-wrapper {
    width: 510px;
}
.login-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 53px 30px 30px 30px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.login-title {
    display: flex;
    flex-direction: column;
}
.login-title div:nth-child(1) {
    color: #1D1B1D;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.login-title div:nth-child(2) {
    color: #1D1B1D;
    font-size: 64px;
    font-weight: 900;
}
.login-title div:nth-child(3) {
    color: #434343;
    font-size: 26px;
    font-weight: normal;
    margin-top: 25px;
}
.plus18 {
    position: absolute;
    top: -58px;
    right: 28px;
    bottom: auto;
    left: auto;
    z-index: 1001;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #FD263F;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    line-height: 150px;
    color: #fff;
}
.login-form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.login-form .login-input {
    position: relative;
    margin-bottom: 20px;
}
.login-form .login-input input {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #E0CCCB;
    padding: 44px 20px 14px 20px;
    font-size: 20px;
    color: #1D1B1D;
}
.login-form .login-input input::-webkit-input-placeholder { /* Edge */
    color: #999999;
  }
  
  .login-form .login-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
  }
  
  .login-form .login-input input::placeholder {
    color: #999999;
  }
.login-form .login-input label {
    font-size: 16px;
    color: #C69993;
    position: absolute;
    top: 14px;
    left: 20px;
    z-index: 1002;
}
.login-form .login-input.username-input > .icon-check {
    position: absolute;
    top: 0;
    left: auto;
    right: 20px;
    z-index: 1003;
    width: 30px;
    height: 100%;
    background-image: url(../img/check-mark-button.png);
    background-position: center;
    background-repeat: no-repeat;
}
.login-form .login-input.password-input > .icon-eye {
    position: absolute;
    top: 0;
    left: auto;
    right: 20px;
    z-index: 1003;
    width: 30px;
    height: 100%;
    background-image: url(../img/view.png);
    background-position: center;
    background-repeat: no-repeat;
}
.btn-login-next {
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #FD3148;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: 18px;
}




/*social connections*/
.social-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    padding: 0 15px;
}
.social-title {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}
.social-divider {
    width: 80px;
    height: 2px;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 25px;
}
.social-icons {
    display: flex;
}
.facebook {
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    margin-right: 14px;
}
.instagram {
    background-image: url(../img/instagram.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    margin-right: 14px;
}
.snapchat {
    background-image: url(../img/snapchat.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
}

@media (max-width: 1366px) {
    .login-content {
        padding: 45px 20px 20px 20px;
    }
    /* .login-title div:nth-child(1) {
        font-size: 20px;
    }
    .login-title div:nth-child(2) {
        font-size: 38px;
    }
    .login-title div:nth-child(3) {
        font-size: 16px;
    }
    .plus18 {
        width: 98px;
        height: 98px;
        line-height: 98px;
        font-size: 40px;
    } */
    .btn-login-next {
        height: 60px;
        font-size: 18px;
        margin-top: 0;
    }
    .login-form .login-input input {
        height: 60px;
        font-size: 16px;
    }
    .login-form .login-input label {
        font-size: 13px;
    }
    .social-content {
        padding: 0;
        margin-top: 20px;
    }
    .social-title {
        font-size: 14px;
        font-weight: 500;
    }
    .social-divider {
        width: 70px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #A7A7A7;
    }
    .facebook, .instagram, .snapchat {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 530px) {
    body {
        padding: 0 20px;
    }
}
@media (max-width: 414px) {
    body {
        padding: 0 20px;
    }
    .right-side {
        display: none;
    }
    .left-wrapper {
        width: 100%;
    }
    .login-content {
        padding: 45px 20px 20px 20px;
    }
    .login-title {
        padding-left: 12px;
    }
    .login-title div:nth-child(1) {
        font-size: 20px;
    }
    .login-title div:nth-child(2) {
        font-size: 38px;
    }
    .login-title div:nth-child(3) {
        font-size: 16px;
        margin-top: 8px;
    }
    .plus18 {
        width: 98px;
        height: 98px;
        line-height: 98px;
        font-size: 40px;
        top: -30px;
        right: 23px;
    }
    .btn-login-next {
        height: 60px;
        font-size: 18px;
        margin-top: 0;
    }
    .login-form {
        margin-top: 27px;
    }
    .login-form .login-input input {
        height: 60px;
        font-size: 16px;
        padding-top: 34px;
    }
    .login-form .login-input label {
        font-size: 13px;
    }
    .login-form .login-input.username-input > .icon-check,
    .login-form .login-input.password-input > .icon-eye {
        right: 15px;
    }
    .social-content {
        padding: 0;
        margin-top: 20px;
    }
    .social-title {
        font-size: 14px;
        font-weight: 500;
    }
    .social-divider {
        width: 70px;
        margin-left: 20px;
        margin-right: 20px;
        height: 2px;
        background-color: #fff;
    }
    .facebook, .instagram, .snapchat {
        width: 45px;
        height: 45px;
    }
}
/* @media (max-width: 375px) {
    .login-form {
        margin-top: 25px;
    }
    .login-title div:nth-child(3) {
        margin-top: 16px;
    }
    .login-form .login-input {
        margin-bottom: 10px;
    }
    .plus18 {
        width: 78px;
        height: 78px;
        line-height: 78px;
        font-size: 30px;
        top: -38px;
    }
    .login-content {
        padding: 25px 10px 10px 10px;
    }
    .social-content {
        margin-top: 10px;
    }
} */
@media (max-height: 940px) {
    .login-content {
        padding: 45px 20px 20px 20px;
    }
    /* 
    .login-title div:nth-child(1) {
        font-size: 20px;
    }
    .login-title div:nth-child(2) {
        font-size: 38px;
    }
    .login-title div:nth-child(3) {
        font-size: 16px;
    } */
    /* .plus18 {
        width: 98px;
        height: 98px;
        line-height: 98px;
        font-size: 40px;
    } */
    .btn-login-next {
        height: 60px;
        font-size: 18px;
        margin-top: 0;
    }
    .login-form .login-input input {
        height: 60px;
        font-size: 16px;
    }
    .login-form .login-input label {
        font-size: 13px;
    }
    .social-content {
        padding: 0;
        margin-top: 20px;
    }
    .social-title {
        font-size: 14px;
        font-weight: 500;
    }
    .facebook, .instagram, .snapchat {
        width: 45px;
        height: 45px;
    }
}

@media (max-height: 770px) {
    /* .login-form {
        margin-top: 0;
    }
    .login-title div:nth-child(1) {
        font-size: 16px;
        margin-bottom: 0;
    }
    .login-title div:nth-child(2) {
        font-size: 28px;
    }
    .login-title div:nth-child(3) {
        margin-top: 0;
        font-size: 14px;
    }
    .login-form .login-input {
        margin-bottom: 5px;
    } */
    .login-form .login-input label {
        font-size: 13px;
        top: 8px;
    }
    /* .plus18 {
        width: 68px;
        height: 68px;
        line-height: 68px;
        font-size: 24px;
        top: -20px;
    }
    .login-content {
        padding: 15px 5px 5px 5px;
    } */
    /* .social-content {
        margin-top: 5px;
    } */
    
    /* .btn-login-next {
        height: 40px;
        font-size: 16px;
    } */
    /* .facebook, .instagram, .snapchat {
        width: 37px;
        height: 37px;
    } */
}
