* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
@font-face { 
    font-family: 'Google Sans BI';
    src: url('../fonts/GoogleSans-BoldItalic.eot'); 
    src: url('../fonts/GoogleSans-BoldItalic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-BoldItalic.woff2') format('woff2'), 
    url('../fonts/GoogleSans-BoldItalic.woff') format('woff'), 
    url('../fonts/GoogleSans-BoldItalic.ttf') format('truetype'), 
    url('../fonts/GoogleSans-BoldItalic.svg#GoogleSans-BoldItalic') format('svg'); 
    font-weight: bold; 
    font-style: italic; 
}
@font-face { 
    font-family: 'Google Sans'; 
    src: url('../fonts/GoogleSans-Regular.eot'); 
    src: url('../fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-Regular.woff2') format('woff2'), 
    url('../fonts/GoogleSans-Regular.woff') format('woff'), 
    url('../fonts/GoogleSans-Regular.ttf') format('truetype'), 
    url('../fonts/GoogleSans-Regular.svg#GoogleSans-Regular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Google Sans B'; 
    src: url('../fonts/GoogleSans-Bold.eot'); 
    src: url('../fonts/GoogleSans-Bold.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-Bold.woff2') format('woff2'), 
    url('../fonts/GoogleSans-Bold.woff') format('woff'), 
    url('../fonts/GoogleSans-Bold.ttf') format('truetype'), 
    url('../fonts/GoogleSans-Bold.svg#GoogleSans-Bold') format('svg'); 
    font-weight: bold; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Google Sans I'; 
    src: url('../fonts/GoogleSans-Italic.eot'); 
    src: url('../fonts/GoogleSans-Italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-Italic.woff2') format('woff2'), 
    url('../fonts/GoogleSans-Italic.woff') format('woff'), 
    url('../fonts/GoogleSans-Italic.ttf') format('truetype'), 
    url('../fonts/GoogleSans-Italic.svg#GoogleSans-Italic') format('svg'); 
    font-weight: normal; 
    font-style: italic; 
}
@font-face { 
    font-family: 'Google Sans M'; 
    src: url('../fonts/GoogleSans-Medium.eot'); 
    src: url('../fonts/GoogleSans-Medium.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-Medium.woff2') format('woff2'), 
    url('../fonts/GoogleSans-Medium.woff') format('woff'), 
    url('../fonts/GoogleSans-Medium.ttf') format('truetype'), 
    url('../fonts/GoogleSans-Medium.svg#GoogleSans-Medium') format('svg'); 
    font-weight: 500; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Google Sans MI'; 
    src: url('../fonts/GoogleSans-MediumItalic.eot'); 
    src: url('../fonts/GoogleSans-MediumItalic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GoogleSans-MediumItalic.woff2') format('woff2'), 
    url('../fonts/GoogleSans-MediumItalic.woff') format('woff'), 
    url('../fonts/GoogleSans-MediumItalic.ttf') format('truetype'), 
    url('../fonts/GoogleSans-MediumItalic.svg#GoogleSans-MediumItalic') format('svg'); 
    font-weight: 500; 
    font-style: italic; 
}

html { 
    background: url(../img/bg.png) fixed;
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat-x;
  }
body {
    padding: 24px 0 0 0;
    margin: 0;
    font-family: 'Google Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 100%;
}
.body-wrapper {
    width: 904px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 24px;
    width: 184px;
    height: 41px;
    margin-bottom: 22px;
}
.logo img {
    width: 41px;
    margin-right: 11px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.left-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 416px;
    overflow: hidden;
}
.main-girl {
    height: auto;
    position: relative;
    overflow: hidden;
}
.main-girl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrows-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prev-arrow {
    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.next-arrow {
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.vote-nav {
    position: absolute;
    z-index: 20000;
    width: 100%;
    height: 56px;
    top: 58%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.like {
    width: 56px;
    height: 56px;
    background-color: #fff;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 40px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.16);
}
.dislike {
    width: 56px;
    height: 56px;
    background-color: #fff;
    background-image: url(../img/dislike.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.16);
}
.list-of-girls {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.list-of-girls div {
    width: 128px;
    height: 160px;
    border-radius: 10px;
    margin-right: 16px;
    overflow: hidden;
} 
.list-of-girls div:last-child {
    margin-right: 0;
}
.list-of-girls div img {
    height: 160px;
}
.right-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 91px 0 0 46px;
}
.girl-name-wrapper {
    color: #494A4B;
    font-weight: bold;
    font-size: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 21px;
}
.verified {
    background-image: url(../img/correct.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 24px;
    min-width: 24px;
    margin-left: 12px;
    margin-top: 4px;
}
.tags {
    list-style: none;
    margin: 0 0 21px 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
    
}
.tags div {
    border: 2px solid #E9E705;
    width: 96px;
    height: 40px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: white;
    cursor: pointer;
}
.tags div:last-child {
    margin-right: 0;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 368px;
    margin-top: 34px;
}
.login-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 21px;
    color: #434343;
}
.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    margin-bottom: 16px;
}
.login-input input {
    width: 100%;
    border: none;
    border-left: 1px solid #D0D0D0;
    border-radius: 0 4px 4px 0;
    padding: 0 0 0 12px;
    font-size: 0.8rem;
}
.icon-username {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-password {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(../img/key.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-email {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(../img/envelope.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.btn-next {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #FFEB3B;
    color: #757678;
    font-size: 16px;
    border: none;
    margin-bottom: 32px;
}


.social-netw {
    position: absolute;
    width: 105px;
    left: -105px;
    top: 104px;
}
.sm-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sm-list div {
    margin-bottom: 16px;
}
.sm-list div:last-child {
    margin-bottom: 0;
}
.sm-list .facebook {
    min-width: 64px;
    height: 64px;
    background: url(../img/facebook@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sm-list .instagram {
    min-width: 64px;
    height: 64px;
    background: url(../img/icons8-instagram@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.sm-list .snapchat {
    min-width: 64px;
    height: 64px;
    background: url(../img/snapchat@2x.png);
    background-repeat: no-repeat;
    background-size: contain;   
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #F2F2F2;
    padding-top: 20px;
    margin-top: 32px;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    margin-bottom: 8px;
}
.footer-nav {
    color: #16191C;
    width: 444px;
    display: flex;
    justify-content: space-between;
}
.footer-nav a {
    color: #16191C;
    text-decoration: none;
    font-size: 13px;
}
.copyrights {
    color: #16191C;
    text-decoration: none;
    font-size: 13px;
}

.download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}
.app-list {
    display: flex;
    flex-direction: row;
}
.da-android {
    background-image: url(../img/android.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    cursor: pointer;
}
.da-ios {
    background-image: url(../img/ios.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    cursor: pointer;
}  


@media (min-width: 240px) and (max-width: 1280px) {
    .body-wrapper {
        padding-left: 3%;
        padding-right: 3%;
        width: 820px;
    }
    .header {
        align-items: center;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
    }
    .right-content {
        padding: 0;
        max-width: 416px;
        width: 100%;
    }
    .login-wrapper {
        width: 100%;
    }
    .social-netw {
        position: relative;
        width: 100%;
        left: auto;
        top: auto;
    }
    .left-content {
        margin-bottom: 30px;
    }
    .sm-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sm-list div {
        margin-right: 16px;
    }
    .sm-list div:last-child {
        margin-right: 0;
    }
    .footer-links {
        flex-direction: column;
        height: auto;
    }
    .footer-nav {
        width: 100%;
    }
    .download-app {
        margin-top: 20px;
        flex-direction: column;
    }
    .app-list {
        margin-top: 8px;
    }
    .da-android {
        margin-left: 0;
    }
    
    .copyrights {
        text-align: center;
        line-height: 35px;
    }
   
    
  }

 
@media (max-width: 570px) {
    .body-wrapper {
        padding-left: 3%;
        padding-right: 3%;
        width: 100%;
    }
    .left-content {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .list-of-girls {
        justify-content: space-between;
    }
    .right-content {
        max-width: 100%;
        width: 100%;
    }
  }

  @media (max-width: 240px) {
    .body-wrapper {
        width: 100%;
    }
  }

  /*slider custom*/
  .flexslider {
    margin: 0 !important;
    background: transparent !important;
    border: none !important;
    border-radius: initial !important;
    box-shadow: none !important;
  }
  .flex-direction-nav .flex-next {
    opacity: 1 !important;
    right: 18px !important;
}
.flex-direction-nav .flex-prev {
    left: 18px !important;
    opacity: 1 !important;
}
.flex-direction-nav a {
    width: 40px;
    height: 40px;
    top: 45%;
}
.flex-direction-nav a.flex-next:before {
    font-family: inherit !important;
    display: inline-block;
    content: '' !important;
    color: transparent !important;
    text-shadow: none !important;

    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.flex-direction-nav a:before {
    font-family: inherit !important;
    display: inline-block;
    content: '' !important;
    color: transparent !important;
    text-shadow: none !important;

    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.flex-viewport {
    margin-bottom: 26px;
    max-height: 464px;
    border-radius: 12px;
}
.flex-control-thumbs {
    margin: 0;
    position: static;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.flex-control-thumbs li {
    border-radius: 8px;
    overflow: hidden;
    width: calc(35% - 16px);
    float: left;
    margin: 0 16px 0 0;
}
.flex-control-thumbs li:last-child {
    margin: 0;
}
.flex-control-thumbs img {
    opacity: 1;
}
