* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: -1px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-bg {
    background: radial-gradient( #FFFFE8, #FFFE92);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 20px 0;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 32px;
}
.logo img {
    width: 41px;
    margin-right: 15px;
}

.main-girl {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 25px;
  }
.main-girl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.girl-name-wrapper {
    color: #16191C;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}
.nick-name {
    font-size: 16px;
    color: #757678;
}
.verified {
    background-image: url(img/verified.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30px;
    min-width: 30px;
    margin-left: 15px;
    margin-top: 5px;
}
.wrapper-content {
    padding: 25px 20px 30px 20px;
}
.free-invite {
    background: linear-gradient(to left, #FF7854, #FD267D);
    width: 374px;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 24px;
}
.free-invite .timer {
    display: flex;
}
.hours, .minutes {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.minutes {
    margin-left: 10px;
}
.tags {
    list-style: none;
    margin: 0 0 26px 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
    
}
.tags div {
    border: 2px solid #F9F606;
    width: auto;
    height: 40px;
    border-radius: 25px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #FFFE92;
    padding: 0 25px;
}
.tags div:last-child {
    margin-right: 0;
}
.invited {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}
.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}
.list-of-girls {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}
.list-of-girls div {
    width: 115px;
    height: 150px;
    border-radius: 5px;
    margin-right: 14px;
    overflow: hidden;
} 
.list-of-girls div:last-child {
    margin-right: 0;
}
.list-of-girls div img {
    height: 150px;
}
.login-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 26px;
    color: #434343;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    margin-bottom: 20px;
}
.login-input input {
    width: 100%;
    border: none;
    border-left: 1px solid #D0D0D0;
    border-radius: 0 5px 5px 0;
    padding: 0 0 0 15px;
    font-size: 1rem;
}
.icon-username {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 5px 0 0 5px;
}
.icon-password {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(img/key.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 5px 0 0 5px;
}
.icon-email {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(img/envelope.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 5px 0 0 5px;
}
.btn-next {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #FC3768;
    color: #fff;
    font-size: 20px;
    border: none;
}
.sm-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 48px;
}
.sm-list div {
    margin-right: 14px;
}
.sm-list div:last-child {
    margin-right: 0;
}
.sm-list .facebook {
    min-width: 58px;
    height: 58px;
    background: url(img/facebook@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sm-list .instagram {
    min-width: 58px;
    height: 58px;
    background: url(img/instagram@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sm-list .snapchat {
    min-width: 58px;
    height: 58px;
    background: url(img/snapchat@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media all and (max-width: 520px) {
    .wrapper {
        width: 100%;
    }
    .login-wrapper {
        width: 100%;
    }
    .free-invite {
        width: 100%;
    }
    .wrapper-content {
        width: 100%;
    }
}