* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: -1px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-bg {
    background: radial-gradient( #FFFFE8, #FFFE92);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 16px 0;
    margin-bottom: 28px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 26px;
}
.logo img {
    width: 40px;
    margin-right: 15px;
}

.main-girl {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
.main-girl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.girl-name-wrapper {
    color: #16191C;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}
.nick-name {
    font-size: 16px;
    color: #757678;
}
.verified {
    background-image: url(img/verified.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
    margin-left: 12px;
    margin-top: 4px;
}
.wrapper-content {
    max-width: 416px;
    width: 100%;
}
.free-invite {
    width: 100%;
    font-weight: bold;
    background: linear-gradient(to left, #FF7854, #FD267D);
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 0 16px 0 13px;
    color: #fff;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 28px;

}
.free-invite .timer {
    display: flex;
}
.counter-box {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.counter-box:last-child {
    margin-left: 8px;
}
.tags {
    list-style: none;
    margin: 0 0 28px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.tags div {
    border: 2px solid #F9F606;
    margin-bottom: 8px;
    background-color: #FFFE92;
    padding: 0 20px;
    width: 96px;
    height: 40px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.tags div:last-child {
    margin-right: 0;
}
.invited {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #16191C;
}
.title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #16191C;
}
.list-of-girls {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}
.list-of-girls div {
    width: 33%;
    height: 160px;
    border-radius: 4px;
    margin-right: 11px;
    overflow: hidden;
} 
.list-of-girls div:last-child {
    margin-right: 0;
}
.list-of-girls div img {
    height: 160px;
    min-width: 100%;
}
.login-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #434343;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
}
.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    margin-bottom: 16px;
}
.login-input input {
    width: 100%;
    border: none;
    border-left: 1px solid #D0D0D0;
    border-radius: 0 4px 4px 0;
    padding: 0 0 0 12px;
    font-size: 1rem;
}
.icon-username {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-password {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(img/key.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-email {
    background-color: #EEEEEE;
    min-width: 46px;
    height: 46px;
    background-image: url(img/envelope.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.btn-next {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #FC3768;
    color: #fff;
    font-size: 20px;
    border: none;
}
.sm-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 38px;
}
.sm-list div {
    margin-right: 10px;
}
.sm-list div:last-child {
    margin-right: 0;
}
.sm-list .facebook {
    min-width: 46px;
    height: 46px;
    background: url(img/facebook@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sm-list .instagram {
    min-width: 46px;
    height: 46px;
    background: url(img/instagram@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sm-list .snapchat {
    min-width: 46px;
    height: 46px;
    background: url(img/snapchat@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media all and (max-width: 520px) {
    .wrapper-content {
        max-width: 100%;
        padding: 0 20px;
    }
    .btn-next {
        height: 48px;
    }
}