* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
input, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
.left-side {
    position: relative;
    width: calc(100% - 740px);
    height: 100vh;
    padding: 40px;
    display: flex;
}
.bg-decoration {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 400px;
    height: 100vh;
    background-image: url(../img/harts.png), linear-gradient(90deg, #FD267D, #FF7854);
    background-position: left top;
    background-size: cover;
    background-repeat: repeat;
    border-radius: 5px;
}

.img-gallery {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.right-side {
    position: relative;
    width: 740px;
    height: 100vh;
    background-color: #fff5f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.vote-nav {
    position: absolute;
    z-index: 2000;
    width: 70px;
    top: 40px;
    bottom: auto;
    left: 30px;
    right: auto;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.like {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-position: center 21px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-bottom: 18px;
}
.dislike {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-image: url(../img/dislike.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.16);
}
.logotype {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 139px;
}
.logotype .logo {
    margin-right: 22px;
}
.logotype .type {
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: bold;
    color: #434343;
}
.girl-name-wrapper {
    color: #434343;
    font-weight: bold;
    font-size: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
}
.verified {
    background-image: url(../img/correct.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 30px;
    min-width: 30px;
    margin-left: 15px;
    margin-top: 4px;
}
.tags {
    list-style: none;
    margin-bottom: 43px; 
    padding: 0;
    display: flex;
    flex-direction: row;
    
}
.tags div {
    border: 2px solid #FD267D;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    color: #FD267D;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}
.tags div:last-child {
    margin-right: 0;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 460px;
    align-items: center;
}
.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 26px;
    color: #434343;
}
.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    margin-bottom: 20px;
}
.login-input input {
    width: 100%;
    border: none;
    border-left: 1px solid #D0D0D0;
    border-radius: 0 5px 5px 0;
    padding: 0 0 0 12px;
    font-size: 16px;
    color: #9A9A9A;
}
.icon-username {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-password {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(../img/key.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.icon-email {
    background-color: #EEEEEE;
    min-width: 58px;
    height: 58px;
    background-image: url(../img/envelope.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 4px 0 0 4px;
}
.btn-next {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#FD267D, #FF7854);
    color: #fff;
    font-size: 20px;
    border: none;
}


.social-net {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.social-net .facebook {
    width: 58px;
    height: 58px;
    background: url(../img/facebook@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 14px;
}
.social-net .instagram {
    width: 58px;
    height: 58px;
    background: url(../img/instagram@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 14px;
}
.social-net .snapchat {
    width: 58px;
    height: 58px;
    background: url(../img/snapchat@2x.png);
    background-repeat: no-repeat;
    background-size: contain;   
}

/*image slider*/
.profile-squre-pic {
    display: none;
}

.banner .owl-carousel {
    width: 100% !important;
}

.content-carousel {
    width: 100%;
    display: flex;
    margin: 0;
    position: relative;
    z-index: 1000;
}

.owl-carousel {
    width: calc(100% - 230px) !important;
    display: flex !important;
    z-index: 1000;
}
.owl-carousel .owl-stage-outer {
    border-radius: 15px;
}

.owl-carousel .div2 {
    position: relative;
}

.owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}

.owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    right: -230px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.owl-carousel .owl-dots button {
    border-radius: 10px;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: calc(33.333% - 20px) !important;
}

.owl-carousel .owl-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
}
.owl-carousel .owl-nav button.owl-prev {
    width: 73px !important;
    height: 73px !important;
    background-color: #FF2364;
    border-radius: 13px 0 0 0;
    font-size: 0 !important;
    text-align: center;
    vertical-align: middle;
    line-height: 73px !important;
    padding-top: 18px;
    margin: 0 !important;
}
.owl-carousel .owl-nav button.owl-prev span {
    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
    display: block;
}
.owl-carousel .owl-nav button.owl-next {
    width: 73px !important;
    height: 73px !important;
    background-color: #FF2364;
    border-radius: 0 0 13px 0;
    font-size: 0 !important;
    text-align: center;
    vertical-align: middle;
    line-height: 73px !important;
    padding-top: 18px;
}
.owl-carousel .owl-nav button.owl-next span {
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
    display: block;
}
.owl-carousel.owl-drag .owl-item {
    height: calc(100vh - 80px);
}
.owl-carousel .owl-item img {
    display: flex;
    min-width: 720px;
    width: 100%;
}
@media (min-width: 1601px) and (max-width: 1900px) {
    .logotype {
        margin-bottom: 50px;
    }
    .social-net {
        margin-top: 30px;
    }
    .tags {
        margin-bottom: 30px;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    .logotype {
        margin-bottom: 20px;
    }
    .social-net {
        margin-top: 20px;
    }
    .tags {
        margin-bottom: 20px;
    }
    .logotype .type {
        font-size: 36px;
    }
    .logotype .logo {
        margin-right: 16px;
        height: 60px;
    }
    .girl-name-wrapper {
        font-size: 32px;
    }
    .tags div {
        width: auto;
        font-size: 16px;
        padding: 0 20px;
        height: 44px;
        border-radius: 22px;
    }
    .login-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .social-net .facebook, .social-net .instagram, .social-net .snapchat {
        width: 38px;
        height: 38px;
    }
    .left-side {
        width: calc(100% - 540px);
    }
    .right-side {
        width: 540px;
    }
    .login-wrapper {
        width: 360px;
    }
    .icon-username, .icon-password, .icon-email {
        min-width: 42px;
        height: 42px;
        background-size: 24px;
    }
    .login-input {
        height: 44px;
    }
    .login-input input {
        font-size: 14px;
    }
    .btn-next {
        font-size: 16px;
        height: 44px;
    }
    .owl-carousel {
        width: calc(100% - 170px) !important;
    }
    .owl-carousel .owl-dots {
        width: 140px;
        right: -170px;
    }
}
@media (max-width: 1199px) {
    .login-wrapper {
        width: 400px;
    }
    .logotype {
        margin-bottom: 20px;
    }
    .logotype .type {
        font-size: 36px;
    }
    .logotype .logo {
        margin-right: 16px;
        height: 60px;
    }
    .girl-name-wrapper {
        font-size: 32px;
    }
    .tags div {
        width: auto;
        font-size: 16px;
        padding: 0 20px;
        height: 44px;
        border-radius: 22px;
    }
    .login-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .social-net {
        margin-top: 30px;
    }
    .social-net .facebook, .social-net .instagram, .social-net .snapchat {
        width: 38px;
        height: 38px;
    }
    .right-side {
        width: 460px;
    }
    .left-side {
        width: calc(100% - 460px);
    }
    .tags {
        margin-bottom: 30px;
    }
    .bg-decoration {
        width: 32vw;
    }
    .owl-carousel .owl-dots {
        width: 140px;
        right: -170px;
    }
    .owl-carousel {
        width: calc(100% - 170px) !important;
    }
}

@media (max-width: 1040px) {
    .owl-carousel {
        width: 100% !important;
        height: calc(100% - 230px) !important;
    }
    .owl-carousel .owl-dots {
        top: auto;
        right: 0;
        bottom: -200px;
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .owl-carousel .owl-dots button {
        height: 180px !important;
        width: 100%;
        margin-right: 10px;
    }
    .owl-carousel .owl-dots button:last-child {
        margin-right: 0;
    }
    .owl-carousel.owl-drag .owl-item {
        height: 100%;
    }
    .owl-carousel .owl-item img {
        min-width: 540px;
        width: 100%;
    }
    .girl-name-wrapper {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .tags div {
        width: auto;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;
        height: 30px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 44px !important;
        height: 44px !important;
        line-height: 44px !important;
    }
    .owl-carousel .owl-nav button.owl-next span,
    .owl-carousel .owl-nav button.owl-prev span {
        height: 24px;
    }
    .vote-nav {
        width: 40px;
        top: 20px;
        left: 10px;
    }
    .dislike, .like {
        width: 40px;
        height: 40px;
        background-position: center 12px;
        background-size: 20px;
        margin-right: 0;
    }
    .dislike {
        background-position: center;
        background-size: 16px;
        margin-bottom: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .right-side {
        width: 340px;
    }
    .left-side {
        width: calc(100% - 340px);
    }
    .login-wrapper {
        width: 90%;
    }
    .login-input {
        height: 44px;
    }
    .login-input input {
        font-size: 14px;
    }
    .icon-username, .icon-password, .icon-email {
        min-width: 42px;
        height: 42px;
        background-size: 18px;
    }
}
@media (max-width: 767px) {
    body {
        flex-direction: column;
    }
    .left-side {
        width: 100%;
        padding: 40px 20px;
    }
    .right-side {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
    }
    .logotype .type {
        font-size: 30px;
    }
    .logotype .logo {
        margin-right: 16px;
        width: 44px;
    }
    .logotype {
        margin-bottom: 40px;
    }
    .girl-name-wrapper {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .login-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .bg-decoration {
        width: 100%;
    }
    .owl-carousel {
        width: 100% !important;
        height: calc(100% - 230px) !important;
    }
    .owl-carousel .owl-dots {
        top: auto;
        right: 0;
        bottom: -200px;
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .owl-carousel .owl-dots button {
        height: 180px !important;
        width: 100%;
        margin-right: 20px;
    }
    .owl-carousel .owl-dots button:last-child {
        margin-right: 0;
    }
    .login-wrapper {
        width: 380px;
    }
    .tags {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .tags div {
        width: auto;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;
        height: 30px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .owl-carousel.owl-drag .owl-item {
        width: 100%;
    }
    .owl-carousel .owl-item img {
        min-width: 570px;
        width: 100%;
    }
    .login-input {
        height: 44px;
    }
    .login-input input {
        font-size: 14px;
    }
    .icon-username, .icon-password, .icon-email {
        min-width: 42px;
        height: 42px;
        background-size: 18px;
    }
    .btn-next {
        font-size: 16px;
        height: 44px;
    }
    .social-net {
        margin-top: 20px;
    }
    .social-net .facebook, .social-net .instagram, .social-net .snapchat {
        width: 38px;
        height: 38px;
    }
    .verified {
        min-height: 24px;
        min-width: 24px;
    }
    .vote-nav {
        width: 40px;
        top: 20px;
        left: 10px;
    }
    .dislike, .like {
        width: 40px;
        height: 40px;
        background-position: center 12px;
        background-size: 20px;
        margin-right: 0;
    }
    .dislike {
        background-position: center;
        background-size: 16px;
        margin-bottom: 0;
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 44px !important;
        height: 44px !important;
        line-height: 44px !important;
    }
    .owl-carousel .owl-nav button.owl-next span,
    .owl-carousel .owl-nav button.owl-prev span {
        height: 24px;
    }
}
@media (max-height: 768px) {
    body {
        flex-direction: column;
    }
    .left-side {
        height: 100%;
    }
    .bg-decoration {
        height: 100%;
    }
    .left-side {
        width: 100%;
    }
    .right-side {
        width: 100%;
    }
}
@media (max-width: 414px) {
    .login-wrapper {
        width: 100%;
    }
    .owl-carousel .owl-dots {
        bottom: -160px;
    }
    .owl-carousel .owl-dots button {
        height: 140px !important;
    }   
}
@media (max-width: 360px) {
    
}