* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    
    grid-template-columns: [start] 33.33% [line1] 33.33% [line2] 33.33% [end];
    grid-template-rows: [row-start] 50vh [row-center] 50vh [row-end];

    margin: 0;
    padding: 0;
}

input, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}


.box-img1, .box-img2, .box-img3, .box-img4, .title-page, .login-content {
    position: relative;
    
}
.box-img1 {
    background-image: url(../img/image1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column-start: line2;
    grid-column-end: end;
    grid-row-start: row-start;
    grid-row-end: row-center;
    
}
.box-img2 {
    background-image: url(../img/image2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column-start: start;
    grid-column-end: line1;
    grid-row-start: row-center;
    grid-row-end: row-end;
}
.box-img3 {
    background-image: url(../img/image3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row-center;
    grid-row-end: row-end;
}
.box-img4 {
    background-image: url(../img/image4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column-start: line2;
    grid-column-end: end;
    grid-row-start: row-center;
    grid-row-end: row-end;
}
.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #760495;
    color: #fff;
    padding: 0 0 0 40px;
}
.title-page h3 {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 74px;
    font-weight: 900;
}
.title-page h4 {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 500;
}


.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row-start;
    grid-row-end: row-center;
    height: 810px;
    z-index: 1000;
}
.icon-envelope {
    background-image: url(../img/envelope.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50px;
    height: 40px;
    display: block;
}
.icon-user {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50px;
    height: 40px;
    display: block;
}
.icon-lock {
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50px;
    height: 40px;
    display: block;
}
.icon-check {
    background-image: url(../img/check-mark-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: block;
}
.icon-view {
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: block;
}
.login-form {
    width: 374px;
}
.login-title {
    text-align: left;
}
.login-title p {
    font-size: 24px;
    font-weight: 500;
    color: #434343;
    margin: 0 0 30px 0;
    padding: 0;
}


.login-input {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    align-items: center;
    padding: 0 20px;
}
.login-input:last-of-type {
    margin-bottom: 0;
}
.input-div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 23px;
    width: 100%;
}
.login-input label {
    color: #2E3338;
    font-size: 16px;
}
.login-input input {
    border: none;
    outline: none;
    font-size: 20px;
    color: #999999;
}
::placeholder {
    color: #999999;
}
::-moz-placeholder {
    color: #999999;
}
::-webkit-input-placeholder {
    color: #999999;
}

.login-input .icon-view,
.login-input .icon-check {
    position: absolute;
    right: 25px;
}

.login-input .icon-check {
    background-size: 16px;
    background-position: center;
}
.login-input .icon-view {
    background-size: 28px;
    background-position: center;
}
.btn-login-next {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: #AF09DC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.social-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-icons .facebook {
    width: 58px;
    height: 58px;
    background: url(../img/facebook@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 14px;
}
.social-icons .instagram {
    width: 58px;
    height: 58px;
    background: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 14px;
}
.social-icons .snapchat {
    width: 58px;
    height: 58px;
    background: url(../img/snapchat@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
}

.plus18 {
    position: absolute;
    right: -88px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1001;
    width: 177px;
    height: 177px;
    line-height: 177px;
    font-weight: bold;
    font-size: 81px;
    background-color: #FD267D;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1830px) {
    .title-page {
        padding: 0 0 0 20px;
    }
    .title-page h3 {
        font-size: 66px;
    }
    .title-page h4 {
        font-size: 43px;
    }
    .plus18 {
        right: -70px;
        width: 140px;
        height: 140px;
        line-height: 140px;
        font-size: 57px;
    }
    .login-content {
        height: 580px;
    }
    
}
@media (max-width: 1575px) {
    .title-page {
        align-items: flex-start;
    }
    .plus18 {
        top: auto;
        bottom: auto;
        right: auto;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 45px;
        position: relative;
        margin: 0 0 20px 0;
    }
    .social-content {
        margin-top: 20px;
    }
}
@media (max-width: 1440px) {
    .login-content {
        height: 560px;
        justify-content: flex-end;
        padding: 20px;
    }
    .login-form {
        width: 100%;
        max-width: 374px;
    }
  
}
@media (max-width: 1345px) {
    .title-page h3 {
        font-size: 56px;
    }
    .title-page h4 {
        font-size: 33px;
    }
}
@media (max-width: 1140px) {
    .title-page h3 {
        font-size: 46px;
    }
    .title-page h4 {
        font-size: 30px;
    }
    .login-input {
        padding: 0 10px;
    }
    .input-div {
        margin: 0 0 0 15px;
    }
    .login-input .icon-view, .login-input .icon-check {
        right: 10px;
    }
    .login-input .icon-check {
        background-size: 14px;
    }
    .login-input .icon-view {
        background-size: 24px;
    }
}
@media (max-width: 1024px) {
    
    .login-content {
        height: 520px;
        justify-content: flex-start;
    }
    
    .title-page h3 {
        font-size: 46px;
    }
    .title-page h4 {
        font-size: 30px;
    }
    .login-title p {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .input-div {
        margin-left: 10px;
    }
    .login-input label {
        font-size: 14px;
    }
    .login-input input {
        font-size: 16px;
    }
    .login-input {
        padding: 0 10px;
    }
    .icon-envelope
    .login-input .icon-view, .login-input .icon-check {
        right: 5px;
    }
    
}
@media (max-width: 960px) {
    .title-page h4 {
        font-size: 22px;
    }
    .title-page h3 {
        font-size: 42px;
    }
}
@media (max-width: 890px) {
    .wrapper {
        grid-template-columns: [start] 50% [line1] 25% [line2] 25% [end];
    }
    .login-content {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-center;
        grid-row-end: row-end;
        height: 100%;
    }
    .box-img1 {
        grid-column-start: line1;
        grid-column-end: line2;
        grid-row-start: row-center;
        grid-row-end: row-end;
    }
    .box-img2 {
        grid-column-start: line1;
        grid-column-end: line2;
        grid-row-start: row-start;
        grid-row-end: row-center;
    }
    .box-img3 {
        grid-column-start: line2;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-center;
    }
}
@media (max-width: 620px) {
    .wrapper {
        grid-template-columns: [start] 50% [line1] 50% [end];
        grid-template-rows: [row-start] 330px [row-line1] auto [row-line2] 207px [row-line3] 207px [row-end];
    }
    .title-page {
        align-items: center;
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-line1;
        height: 100%;
        padding: 0;
    }
    .login-content {
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-line1;
        grid-row-end: row-line2;
        height: 100%;
        min-height: 440px;
    }
    .box-img1 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .box-img2 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img3 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img4 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .title-page h3 {
        text-align: center;
    }
    .title-page h4 {
        text-align: center;
    }
    .social-content {
        justify-content: center;
    }
    .login-title {
        text-align: center;
    }
    .login-input {
        padding: 0 20px;
    }
    .input-div {
        margin-left: 15px;
    }
    .icon-envelope .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
    .login-input .icon-view {
        background-size: 28px;
    }
    .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
}
@media (max-width: 823px) and (max-height: 414px) {
    .wrapper {
        grid-template-columns: [start] 50% [line1] 50% [end];
        grid-template-rows: [row-start] 330px [row-line1] auto [row-line2] 207px [row-line3] 207px [row-end];
    }
    .title-page {
        align-items: center;
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-line1;
        height: 100%;
        padding: 0;
    }
    .login-content {
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-line1;
        grid-row-end: row-line2;
        height: 100%;
        min-height: 440px;
    }
    .box-img1 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .box-img2 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img3 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img4 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .title-page h3 {
        text-align: center;
    }
    .title-page h4 {
        text-align: center;
    }
    .social-content {
        justify-content: center;
    }
    .login-title {
        text-align: center;
    }
    .login-input {
        padding: 0 20px;
    }
    .input-div {
        margin-left: 15px;
    }
    .icon-envelope .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
    .login-input .icon-view {
        background-size: 28px;
    }
    .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
}

@media (max-width: 425px) and (max-height: 1024px) {
    .wrapper {
        grid-template-columns: [start] 50% [line1] 50% [end];
        grid-template-rows: [row-start] 330px [row-line1] auto [row-line2] 207px [row-line3] 207px [row-end];
    }
    .title-page {
        align-items: center;
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-start;
        grid-row-end: row-line1;
        height: 100%;
        padding: 0;
    }
    .login-content {
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: row-line1;
        grid-row-end: row-line2;
        height: 100%;
        min-height: 440px;
    }
    .box-img1 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .box-img2 {
        grid-column-start: start;
        grid-column-end: line1;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img3 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line2;
        grid-row-end: row-line3;
    }
    .box-img4 {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: row-line3;
        grid-row-end: row-end;
    }
    .title-page h3 {
        text-align: center;
    }
    .title-page h4 {
        text-align: center;
    }
    .social-content {
        justify-content: center;
    }
    .login-title {
        text-align: center;
    }
    .login-input {
        padding: 0 20px;
    }
    .input-div {
        margin-left: 15px;
    }
    .icon-envelope .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
    .login-input .icon-view {
        background-size: 28px;
    }
    .login-input .icon-view, .login-input .icon-check {
        right: 25px;
    }
}

@media (max-width: 425px) and (max-height: 823px) {
  
}
@media (max-width: 320px) and (max-height: 568px) {
    
}
@media (max-width: 300px) {
  
}