* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html { 
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    background: url(../img/Lindsay-Ellingson-Widescreen.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.right-side {
    width: 100%;
    height: 100vh;
}

/*left side*/
.left-side {
    position: relative;
    width: 100%;
    height: 100vh;
}
.left-wrapper {
    width: 510px;
    position: absolute;
    top: 19vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}
.login-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 53px 30px 30px 30px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.login-title {
    display: flex;
    flex-direction: column;
}
.login-title div:nth-child(1) {
    color: #1D1B1D;
    font-size: 32px;
    font-weight: bold;
}
.login-title div:nth-child(2) {
    color: #1D1B1D;
    font-size: 64px;
    font-weight: 900;
}
.login-title div:nth-child(3) {
    color: #434343;
    font-size: 26px;
    font-weight: normal;
    margin-top: 25px;
}
.plus18 {
    position: absolute;
    top: -58px;
    right: 28px;
    bottom: auto;
    left: auto;
    z-index: 1001;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #FD263F;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    line-height: 150px;
    color: #fff;
}
.login-form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.login-form .login-input {
    position: relative;
    margin-bottom: 20px;
}
.login-form .login-input input {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #E0CCCB;
    padding: 44px 20px 14px 20px;
    font-size: 20px;
    color: #999999;
}
.login-form .login-input label {
    font-size: 16px;
    color: #C69993;
    position: absolute;
    top: 14px;
    left: 20px;
    z-index: 1002;
}
.login-form .login-input.username-input > .icon-check {
    position: absolute;
    top: 0;
    left: auto;
    right: 28px;
    z-index: 1003;
    width: 30px;
    height: 100%;
    background-image: url(../img/check-mark-button.png);
    background-position: center;
    background-repeat: no-repeat;
}
.login-form .login-input.password-input > .icon-eye {
    position: absolute;
    top: 0;
    left: auto;
    right: 28px;
    z-index: 1003;
    width: 30px;
    height: 100%;
    background-image: url(../img/view.png);
    background-position: center;
    background-repeat: no-repeat;
}
.btn-login-next {
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #FD3148;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: 18px;
}




/*social connections*/
.social-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    padding: 0 15px;
}
.social-title {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}
.social-divider {
    width: 80px;
    height: 1px;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 25px;
}
.social-icons {
    display: flex;
}
.facebook {
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    margin-right: 14px;
}
.instagram {
    background-image: url(../img/instagram.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    margin-right: 14px;
}
.snapchat {
    background-image: url(../img/snapchat.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
}