@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:768px){
@viewport {max-width:768px;}
@-o-viewport {max-width:768px;}
.wrapper{
	width:768px;
}
header{
	background-image:url(../images/gradient-768.png);
	background-position:left bottom;
	background-repeat:no-repeat;
}
/* START MAIN NAVIGATION 768px */
#site-nav{
	float:left;
	margin:15px 0 0 60px;
}
.main-nav{
	font-size:15px;
}
/* CONTENT 768px */ 
article.left{
	width:416px;
	height:auto;
	margin:48px 176px 0 176px;
}
article.right{
	width:416px;
	height:auto;
	margin:26px 176px 0 176px;
}
article h3 {
	margin-left:0px;
}
hgroup{
	float:left;
	display:block;
	width:184px;
	margin:20px 0 0 20px;
}
hgroup h4{
	margin:0 0 10px 0;
	color:#646464;
	font-size:15px;
	width:auto;
	font-weight:normal;
	line-height:normal;
}
hgroup p{
	margin:0;
	padding:0;
	font-size:13px;
	width:auto;
	text-align:justify;
	word-break:break-all;
	word-wrap:break-word;
	font-weight:normal;
	line-height:normal;
	color:#646464;
}
.box{
	float:left;
	background-color:#e9e9e9;
	width:188px;
	height:113px;
	margin:20px 20px 20px 0px;
}
.span {
	margin:20px 0px 20px 20px;
}

.to-top{
	margin-right:38px;
}
}

@media only screen and (max-width:480px){
@viewport {max-width:480px;}
@-o-viewport {max-width:480px;}
.wrapper{
	width:480px;
}
header{
	position:relative;
	margin:0;
	padding:12px 0 21px 0;
	height:37px;
	width:100%;
	text-align:center;
	background-image:url(../images/gradient-480.png);
	background-position:left bottom;
	background-repeat:no-repeat;
}
.logo{
	margin:0 0 0 21px;
	padding:0;
	width:122px;
	height:37px;
	background-image:url(../images/logo-480.png);
	background-repeat:no-repeat;
	background-position:center center;
	text-indent:-9999px;
	float:left;
}
/* START MAIN NAVIGATION 480px */
#site-nav{
	float:left;
	margin:5px 0 0 30px;
}
#line{
	display:none;
}
.main-nav li{
	margin:0 18px;
}
.home{
	width:23px;
	height:20px;
	text-indent:-9999px;
	background-image:url(../images/home.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.home:hover{
	background-image:url(../images/home-hover.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.about{
	width:20px;
	height:20px;
	text-indent:-9999px;
	background-image:url(../images/about.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.about:hover{
	background-image:url(../images/about-hover.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.work{
	width:27px;
	height:21px;
	text-indent:-9999px;
	background-image:url(../images/work.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.work:hover{
	background-image:url(../images/work-hover.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.contact{
	width:25px;
	height:17px;
	text-indent:-9999px;
	background-image:url(../images/contact.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.contact:hover{
	background-image:url(../images/contact-hover.png);
	background-repeat:no-repeat;
	background-position:center center;
}
/* SEARCH */

.search-box-xl{
	display:none;
}
.s-button-320, .search-box-320, .search-320{
	display:none;
}
.s-button-480{
	display:block;
	position:absolute;
	top:16px;
	right:20px;
	width:20px;
	height:24px;
	margin:0;
	background-color:transparent;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	background-position:center center;
	border:none;
}
.s-button-480:hover, .s-button-480:focus, .s-button-480:active {
	background-image:url(../images/search-hover.png);
}
.search-box-480{
	display:block;
	position:absolute;
	top:70px;
	left:0px;
	margin:0;
	padding:0 20px 0 20px;
	width:440px;
	height:27px;
	overflow:hidden;
}
.search-480{
	display:block;
	position:relative;
	float:left;
	margin:0 0 0 460px;
	padding:0 20px 0 20px;
	width:400px;
	height:25px;
	border:1px solid #cbcbcb;
	outline:none;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
}
/* CONTENT 480px */ 

article.left{
	width:416px;
	height:auto;
	margin:28px 30px 0 30px;
}
article.right{
	width:416px;
	height:auto;
	margin:26px 30px 0 30px;
}
/* FOOTER */

#footer{
	margin-top:24px;
}
#footer-nav{
	display:none;
}

}

@media only screen and (max-width:320px){
@viewport {max-width:320px;}
@-o-viewport {max-width:320px;}
.wrapper{
	width:320px;
}
header{
	background-image:url(../images/gradient-320.png);
	background-position:left bottom;
	background-repeat:no-repeat;
}
.logo{
	margin:0 0 0 13px;
}
/* START MAIN NAVIGATION 320px */
.mob-menu{
	display:block;
	position:absolute;
	top:20px;
	right:50px;
	z-index:5;
	width:21px;
	height:16px;
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
	background-position:center center;
	border:none;
	background-color:transparent;
}
.mob-menu:hover{
	background-image:url(../images/menu-hover.png);
}
/* uncomment if you want diferent first ver. */
/*#site-nav{
	position:absolute;
	top:-94px;
	left:-48px;
	z-index:5;
	width:320px;
	height:auto;
}*/
/* second ver. */
#site-nav{
	position:absolute;
	top:57px; 
	left:-368px; 
	z-index:5;
	width:320px; 
	height:auto;
}
.main-nav{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
.main-nav li{
	display:block;
	list-style:none;
}
.main-nav li a{
	display:block;
	color:#FFF;
	text-decoration:none;
	width:320px;
	height:21px;
	line-height:21px;
	border-bottom:1px solid #FFF;
}
.home{
	text-indent:inherit;
	background-image:none;
	background-color:#bbd447;
}
.home:hover{
	text-indent:inherit;
	background-image:none;
	color:#FFF;
}
.about{
	text-indent:inherit;
	background-image:none;
	background-color:#81b36e;
}
.about:hover{
	text-indent:inherit;
	background-image:none;
	color:#FFF;
}
.work{
	text-indent:inherit;
	background-image:none;
	background-color:#429098;
}
.work:hover{
	text-indent:inherit;
	background-image:none;
	color:#FFF;
}
.contact{
	text-indent:inherit;
	background-image:none;
	background-color:#1375b8;
}
.contact:hover{
	text-indent:inherit;
	background-image:none;
	color:#FFF;
}
/* SEARCH 320 */

.s-button-480, .search-box-480, .search-480{
	display:none;
}
.s-button-320{
	display:block;
	position:absolute;
	top:16px;
	right:20px;
	width:20px;
	height:24px;
	margin:0;
	background-color:transparent;
	background-image:url(../images/search.png);
	background-repeat:no-repeat;
	background-position:center center;
	border:none;
}
.s-button-320:hover, .s-button-320:focus, .s-button-320:active {
	background-image:url(../images/search-hover.png);
}
.search-box-320{
	display:block;
	position:absolute;
	top:70px;
	left:0px;
	margin:0;
	padding:0 20px 0 13px;
	width:280px; 
	height:27px;
	overflow:hidden;
}
.search-320{
	display:block;
	position:relative;
	float:left;
	margin:0 0 0 310px;
	padding:0 20px 0 20px;
	width:243px; 
	height:25px;
	border:1px solid #cbcbcb;
	outline:none;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
}
/* SLIDER 320px */

#big{
	display:none;
}
#small-img{
	display:block;
}
#small{
	display:block;
}
.slides li h5{
	text-align:center;
	margin:24px auto;
	font-size:18px;
	color:#757575;
	font-weight:normal;
}
/* CONTENT 320px */ 

article.left{
	display:block;
	width:170px; 
	height:auto;
	margin:20px 75px 0 75px; 
}
article.right{
	display:block;
	width:170px; 
	height:auto;
	margin:26px 75px 0 75px;  
}
article h3 {
	font-size:26px;
	width:175px;
}

.box{
	display:block;
	margin:12px 0 12px 0;
	padding:0;
	width:170px; 
	height:100px;
}
.span{
	margin:12px 0 12px 0;
}
hgroup p{
	display:none;
}
hgroup{
	margin:0;
	padding:0;
	width:170px; 
	display:block;
}
a.more{
	width:68px;
	height:22px;
	line-height:22px;
	font-size:10px;
	margin-bottom:15px;
}
/* FOOTER */
#footer{
	margin-top:44px;
}
.social-box{
	margin:0 0 0 13px;
}
.to-top{
	margin-right:13px;
}

}

	