@charset "utf-8";
/* REGISTRACIJA */
.novi_korisnik{
	margin:0;
	padding:0;
	float:left;
	display:block;
	width:470px;	
}


.novi_korisnik h1{
	margin:0 0 12px 22px;
	padding:0;
	display:block;
	color:#7a539a;
	font-size:24px;
}
.obavestenje{
	margin:0;
	padding:0;
	display:block;
	width:100%;
	float:left;
	background-color:#0973ba;
	border-bottom:2px solid #FFF;
}
.obavestenje h4{
	color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 26px 0 36px 42px;
    padding: 0;
    text-align: left;
}

.licni_podaci{
	margin:0;
	padding:0;
	float:left;
	display:block;
	width:470px;
	background-color:#fecc39;
	border-bottom:2px solid #FFF;	
}


.licni_podaci input.ime, .licni_podaci input.email, .licni_podaci input.prezime, .licni_podaci input.datum_rodj,
 .leftSide input.ime, .leftSide input.email, .leftSide input.prezime, .leftSide input.datum_rodj, .leftSide input.telefon
{
	
	position: relative;
	margin: 0;
	padding: 0 0 0 18px;
	float: left;
	display: block;
	width: 282px;
	height: 42px;
	background-color: #FFF;
	border: none;
	outline: none;
	font-size:16px;
	font-weight:600;
	color:#404040;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #404040;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #404040;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #404040;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #404040;
}

.licni_podaci select.pol, .leftSide select.pol{
	background-color: transparent !important;
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 8px 0 0 0;
    width: 301px;
	-webkit-appearance:none;
	color:#404040;
	font-size:16px;
	font-weight:600;
	line-height:16px;
}

.licni_podaci input.ime:active, .licni_podaci input.email:active, .licni_podaci input.prezime:active,
 .licni_podaci input.datum_rodj:active, .licni_podaci input.ime:focus, .licni_podaci input.email:focus, .licni_podaci input.prezime:focus,
 .licni_podaci input.datum_rodj:focus,
 .leftSide input.ime:active, .leftSide input.email:active, .leftSide input.prezime:active,
 .leftSide input.datum_rodj:active, .leftSide input.ime:focus, .leftSide input.email:focus, .leftSide input.prezime:focus,
 .leftSide input.datum_rodj:focus, .leftSide input.telefon:active, .leftSide input.telefon:focus
 {
	width: 278px;
	height: 38px;
	background-color: #FFF;
	border: 2px solid #7c50a1;
	outline: none;
	color:#7c50a1;
	font-size:16px;
	font-weight:600;
	line-height:normal;
}

.licni_podaci input.telefon:active, .licni_podaci input.telefon:focus, .licni_podaci input.kompanija:active,
 .licni_podaci input.kompanija:focus, .licni_podaci input.adresa:active, .licni_podaci input.adresa:focus, .licni_podaci input.mesto:active, .licni_podaci input.mesto:focus, 
.rightSide input.telefon:active, .rightSide input.telefon:focus, .rightSide input.kompanija:active, .rightSide input.kompanija:focus, 
.rightSide input.adresa:active, .rightSide input.adresa:focus, .rightSide input.mesto:active, .rightSide input.mesto:focus{
	width: 278px;
	height: 38px;
	background-color: #FFF;
	border: 2px solid #7c50a1;;
	outline: none;
	color:#7c50a1;
	font-size:16px;
	font-weight:600;
	line-height:normal;
}

.licni_podaci input.telefon, .licni_podaci input.kompanija, 
.licni_podaci input.adresa, .licni_podaci input.mesto, 
.rightSide input.telefon, .rightSide input.kompanija, 
.rightSide input.adresa, .rightSide input.mesto
{
	position: relative;
	margin: 0 0 18px 92px;
	padding: 0 0 0 18px;
	float: left;
	display: block;
	width: 282px;
	height: 42px;
	background-color: #FFF;
	border: none;
	outline: none;
	font-size:16px;
	font-weight:600;
	line-height:normal;
	color:#404040;
}

.resetMargin-left{
	margin-left:0px !important;
}
.mozHack{
	 background: url("../images/select-step.png") no-repeat scroll right center #FFFFFF;
    color: #404040;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    line-height: 1;
    margin: 0 0 18px 92px;
    overflow: hidden;
    padding: 0 0 0 18px;
    width: 282px;
   
   
}
.licni_podaci select.drzava, .rightSide select.drzava{
	background-color: transparent !important;
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 8px 0 0 0;
    width: 301px;
	-webkit-appearance:none;
	color:#404040;
	font-size:16px;
	font-weight:600;
	line-height:16px;

}
.obavezno, .obavezno_pass{
	position: relative;
	margin: 0 0 18px 92px;
	padding: 0;
	float: left;
	width: 300px;
	height: 42px;
}
.obavezno:after{
	content: '';
	position: absolute;
	top: 0px;
	left: -20px;
	z-index: 100;
	width: 12px;
	height: 42px;
	background-image: url(../images/obavezno.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.obavezno_pass:after{
	content: '';
	position: absolute;
	top: 0px;
	left: -20px;
	z-index: 100;
	width: 12px;
	height: 42px;
	background-image:url(../images/obavezno-lozinka.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.lozinka{
	margin:0;
	padding:0 0 10px 0;
	float:left;
	display:block;
	background-color:#f05137;
	border-bottom:2px solid #FFF;
	width:100%;
}

.lozinka h5.span{
	margin: 14px 0 20px 85px;
	padding:0;
	display:block;
	color:#FFFFFF;
	font-weight:600;
	font-size:16px;
}
.lozinka input[type="password"]{
	position: relative;
	margin: 0;
	padding: 0 0 0 18px;
	float: left;
	display: block;
	width: 282px;
	height: 42px;
	background-color: #FFF;
	border: none;
	outline: none;
}
.licni_podaci h5{
	margin: 15px 0 20px 85px;
	padding:0;
	display:block;
	color:#404040;
	font-weight:600;
	font-size:16px;
}
.licni_podaci p.span, .rightSide p.span {
	margin:0 84px 14px 0;
	padding:0 0 0 22px;
	float:right;
	text-align:right;
	display:block;
	background-image:url(../images/obavezno.png);
	background-repeat:no-repeat;
	background-position:left center;
	color:#f05137;
	font-size:14px;
	font-weight:600;
}


.prijava_news{
	background-color: #7C50A1;
    border-bottom: 2px solid #FFFFFF;
    display: block;
    float: left;
    height: 88px;
    margin: 0;
    padding: 0 0 0 72px;
    width: 398px;
}


.prijava_news h5.span {
	color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 14px 0 12px 10px;
    padding: 0;
	
}

.prijava_news p{
	color: #404040;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: -6px 0 0;
    padding: 0;
	}

/* CHECK BOX */
input[type=checkbox].css-checkbox { display:none; } 
 
 
 
input[type=checkbox].css-checkbox + label.css-label { 
margin:0;
padding:0 0 0 38px; 
height:22px;  
display:block;
float:left; 
line-height:22px; 
background-repeat:no-repeat; 
background-position: 0 0; 
font-size:16px;
color:#404040;
font-weight:600; 
vertical-align:middle; 
cursor:pointer; 
} 


 
input[type=checkbox].css-checkbox:checked + label.css-label { 
background-position: 0 -22px; 
}  
.css-label{ 
background-image:url(../images/check-newsletter.png);
}



/* KREIRAJ NALOG */
.kreiraj_nalog{
	margin:0;
	padding:0;
	float:left;
	display:block;
	background-color:#0973ba;
	width:100%;
}
input.dugmeKreiraj{
	width:160px;
	height:42px;
	margin:60px 48px 18px 0;
	padding:0;
	display:none;
	float:right;
	background-color:#f89f4e;
	border:2px solid #FFF;
	color:#FFF;
	font-size:16px;
	font-weight:600;
}
input.dugmeKreiraj:hover{
	background-color:#FFFFFF;
	border:2px solid #404040;
	color:#404040;
}
.kreiraj_nalog p{
	margin:26px 0 0 42px;
	padding:0;
	display:block;
	font-size:16px;
	font-weight:600;
	color:#FFFFFF;
}
a.formaOpen{
	width:156px;
	height:38px;
	margin:18px 48px 18px 0;
	padding:0;
	display:block;
	float:right;
	background-color:#f89f4e;
	border:2px solid #FFF;
	color:#FFF;
	font-size:16px;
	line-height:38px;
	font-weight:600;
	text-align:center;
}
a.formaOpen:hover{
	background-color:#FFFFFF;
	border:2px solid #404040;
	color:#404040;
}
.popuni_formu{
	display:none;
	margin:0px;
	padding:0px;
}




.checkmark_icon{
	position:absolute;
	top:0px;
	right:-46px;
	z-index:100;
	margin:0;
	padding:0;
	width:42px;
	height:42px;	
}
.good{
	width:42px;
	height:42px;
	display:block;
	background-image:url(../images/checkmark-icon.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
}

.wrong{
	width:42px;
	height:42px;
	display:block;
	background-image:url(../images/checkmark-icon.png);
	background-position:0px -42px;
	background-repeat:no-repeat;
}
.wrong_text{
	position:absolute;
	bottom:-25px;
	left:0px;
	z-index:100;
	display:block;
	color:#7c50a1;
	font-weight:400;
	font-size:11px;
		
}
/* postojeci korisnik */

.postojeci_korisnik{
	margin:0 0 0 20px;
	padding:0;
	display:inline-block;
	float:left;
	
}
.postojeci_korisnik h1{
	margin:0 0 12px 22px;
	padding:0;
	float:left;
	display:block;
	width:100%;
	font-size:24px;
	font-weight:600;
	color:#f89f4e;
}
.wrapperForm{
	margin:0;
	padding:0;
	float:left;
	width:470px;
	background-color:#f89f4e;
	color:#FFF;
	
}
.wrapperForm h2{
	margin:26px 0 32px 24px;
	padding:0;
	color:#FFFFFF;
	font-weight:600;
	font-size:16px;
}
.wrapperForm a{
	margin:0 0 0 40px;
	padding:0;
	display:inline-block;
	float:left;
	font-size:16px;
	font-weight:600;
	color:#fff;
	text-decoration:none;
	line-height:16px;
}
.wrapperForm input{
	width:282px;
	height:42px;
	margin:0 0 18px 40px;
	padding:0 0 0 18px;
	float:left;
	display:block;
	border:none;
	font-size:16px;
	font-weight:600;
	color:#404040;
}


.wrapperForm input[type="submit"]{
	margin:0 47px 14px 0;
	padding:0;
	width:160px;
	height:42px;
	display:inline-block;
	float:right;
	background-color:#0973ba;
	border:2px solid #FFF;
	color:#FFFFFF;
	font-size:16px;
	font-weight:600;
}
.wrapperForm input[type="submit"]:hover{
	background-color:#fff;
	border:2px solid #404040;
	color:#404040;
	
}

/* Simulation Select */

.simulation{
	background: url("../images/select-step.png") no-repeat scroll right center #FFFFFF;
	color: #404040;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: 600;
	height: 42px;
	line-height: 1;
	margin: 0 0 18px 0;
	overflow: visible;
	padding: 0;
	width: 300px;
	position:relative;
	
}
.simulation span{
	margin:0;
	padding:0 0 0 20px;
	float:left;
	display:block;
	width:100%;
	text-align:left;
	line-height:42px;
}
	
.selectBox{
	position:absolute;
	top:0px;
	left:0px;
	z-index:200;
	margin:0;
	padding:10px;
	display:none;
	width:300px;
	background-color:#FFF;
	border:2px solid #7c50a1;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box; 
	
}

.selectBox li{
	margin:0 0 10px 0;
	padding:0 0 0 10px;
	display:block;
	width:calc(100%-10px);
	line-height:28px;
	font-size:16px;
	color:#404040;
	
}
.selectBox li:last-child{
	margin-bottom:0px;
}
.selectBox li:hover{
	background:#f89f4e;
	color:#FFFFFF;
}






























