@font-face {
    font-family: "GoogleSans I";
    src: url("../fonts/google/GoogleSans-Italic.woff2") format("woff2"), url("../fonts/google/GoogleSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "18+";
    src: url("../fonts/google/GoogleSans-Bold.woff2") format("woff2"), url("../fonts/google/GoogleSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "18+";
    src: url("../fonts/google/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/google/GoogleSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "18+";
    src: url("../fonts/google/GoogleSans-Regular.woff2") format("woff2"), url("../fonts/google/GoogleSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans BI';
    src: url('../fonts/google/GoogleSans-BoldItalic.eot');
    src: url('../fonts/google/GoogleSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/google/GoogleSans-BoldItalic.woff2') format('woff2'), url('../fonts/google/GoogleSans-BoldItalic.woff') format('woff'), url('../fonts/GoogleSans-BoldItalic.ttf') format('truetype'), url('../fonts/google/GoogleSans-BoldItalic.svg#GoogleSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

html {
    position: relative;
}

html body {
    width: 100%;
    height: 100%;
    font-family: "18+";
    font-size: 1.125rem;
    font-weight: normal;
    -webkit-font-smoothing: auto;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #f7f6f4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    cursor: unset !important;
}

.banner {
    position: fixed;
    width: 100%;
    height: 100%;
}

.bgImage {
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.bgImage.slide1 {
    background-image: url("../img/main-bg.png");
}

.bgImage.slide2 {
    background-image: url("../img/hiking.png");
}

.bgImage.slide3 {
    background-image: url("../img/netflix.png");
}

.bgImage.slide4 {
    background-image: url("../img/sport.png");
}


.left {
    position: absolute;
    left: 25px;
    width: 50px;
    height: 65px;
    top: 45%;
    z-index: 4;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.right {
    position: absolute;
    right: 25px;
    width: 50px;
    height: 65px;
    top: 45%;
    z-index: 4;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}


/* header section */
header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.logo {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.menu-bar {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

.toggel-button {
    width: 39px;
    padding: 8px 0 0 0;
    margin-left: 57px;
}

.toggel-button img {
    width: 100%;
}

.logo span.logo-text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15.6px;
}

header .menu-bar .btn {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    color: #FA63A0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

/* header-section-end */

/* content */
.main-content {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.leftPanel {
    display: flex;
    flex-flow: column wrap;
    margin-top: 124px;
    width: auto;
}

.rightPanel {
    width: auto;
    display: flex;
    flex-flow: column wrap;
}

/* timer-section */
.expire-box {
    display: flex;
    align-items: center;
    color: #8e8f90;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.expire-box p {
    font-size: 26px;
    line-height: 7px;
    color: #8e8f90;
    text-transform: capitalize;
    font-weight: bold;
}

.counter {
    display: flex;
    flex-flow: row;
    margin-left: 25px;
}

.counter-box {
    width: 54px;
    height: 54px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 2px #8e8f90;
    margin-left: 10px;
    font-size: 26px;
    font-weight: bold;
}

/* counter-end */

/* channel-box-start */
.channel-box {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 2px;
}

.channel-box h1 {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 108px;
}

.channel-box .true {
    margin-left: 10px;
    margin-top: 9px;
}

.social-box {
    display: flex;
    flex-flow: column;
    width: 196px;
    align-items: center;
}

.hobbies-btn {
    width: 190px;
    height: 77px;
    background-color: #FD267D;
    border-radius: 50px;
    display: flex;
    flex-flow: column;
    font-size: 32px;
    color: #fff;
    text-transform: capitalize;
    border: solid 2px #FF91BD;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.hobbies {
    display: flex;
    flex-flow: nowrap;
    padding-top: 4px;
    margin-bottom: 40px;
    height: 81px;
}

.hobbies-btn:nth-child(2) {
    margin: 0 17px;
}

.profile-img {
    display: flex;
    flex-flow: nowrap;
}

.profile-img .owl-carousel {
    width: 100% !important;
}

.user-image {
    width: 190px;
    height: 237px;
    border-radius: 10px;
    overflow: hidden;
}

.user-image:nth-child(2) {
    margin: 0 23px;
}

/* channel-box-end */
.social-icon {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    margin-top: 40px;
}

.social-icon .icon {
    margin-right: 14px;
}

.social-icon .icon img {
    width: 58px;
    height: 58px;
}

/* righ-pannel */
.form-box {
    display: flex;
    flex-flow: column;
    width: 440px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 97.3px;
}

.logo-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 48.6px;
    text-align: center;
    align-items: center;
}

.logo-icon img {
    width: 32.75px;
    height: 43.49px;
}

.form-title {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-title h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Google Sans BI";
    margin: 28px 0px 11px 0px;
}

.form-title p {
    padding: 0 37px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    margin: 0;
}

.form-title p a {
    font-size: 14px;
    color: #434343;
}

.form-title h3 {
    font-size: 20px;
    font-weight: bold;
}

.form-box form {
    padding: 0 33px;
    margin-top: 6px;
    text-align: center;
}

.emailadd,
.user,
.pass {
    display: flex;
    flex-flow: row;
    width: calc(100% - 2px);
    height: 58px;
    border: solid 1px #D0D0D0;
    border-radius: 5px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.user-id,
.password-type,
.email-box {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.form-box form input {
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    padding: 0 15px;
    font-weight: 500;
    font-family: "18+";
}

.form-box form .input-image {
    width: 58px;
    height: 58px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 5px 0 0 5px;
    border-right: solid 1px #D0D0D0;
}

.form-box form .input-section {
    justify-content: flex-start;
    display: flex;
    font-size: 16px;
    width: calc(100% - 58px);
}

.form-box form .button-login {
    background-color: #FD3148;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form a.signin {
    color: #DE4686;
}

form p {
    font-size: 16px;
    color: #434343;
    margin: 24px 0 40px;
}

footer {
    margin-top: 120px;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    vertical-align: center;
}

footer p {
    display: flex;
    align-items: center;
}

footer span.copy {
    font-size: 28px;
    line-height: 18px;
    height: 10px;
    display: flex;
    width: 15px;
}

.hobbies-two {
    display: none;
}

.channel-box-two {
    display: none;
}

.profile-squre-pic {
    display: none;
}

.owl-carousel .owl-dots button {
    height: auto !important;
}

.owl-carousel .owl-dots {
    display: grid;
}

.banner .owl-carousel {
    width: 100% !important;
}

.content-carousel {
    width: 600px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.owl-carousel {
    width: calc(100% - 170px) !important;
}

.owl-carousel .div2 {
    width: 100%;
    position: relative;
    height: auto;
    background-size: cover;
}

.owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}

.owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    right: -170px;
    width: 150px;
    height: auto;
}

.owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}